{{> header}}


<div class="w-100 h-[90vh] bg-zinc-600 flex flex-col gap-5 justify-center items-center  ">

     <h1 class="text-3xl font-bold" >Welcome to the Task Management</h1>

   <div>
        <a class="px-3 py-2 bg-zinc-500 rounded-lg" href="/task/allTasks">Allocated tasks</a>    
        <a class="px-3 py-2 bg-zinc-500 rounded-lg" href="/user/listUsers">All Employees</a>    
        {{!-- <a class="px-3 py-2 bg-zinc-500 rounded-lg" href="/allTasks">D</a>     --}}
   </div>

</div>