<header class="w-100 h-[10vh] bg-zinc-700" >

   <div class="flex justify-between items-center" >

        <div class="w-[5%] flex flex-col justify-center items-center p-2  " >
        <img src="https://img.icons8.com/?size=65&id=112355&format=png&color=ffffff" alt="">
        <h1 class="ml-[35%] text-white w-[140%]">User's-Task</h1>
        </div>
        
      <div class="absolute right-0 w-[10%] flex gap-2 justify-center items-center  p-2">
        <a
            class="text-white font-bold border bg-red-500 rounded-lg px-4 py-2 hover:bg-red-700 hover:text-black transition"
            href="/logout"
        >
            Logout
        </a>
       
        </div>

   </div>

</header>


<div class="w-100 h-[90vh] bg-zinc-600 flex flex-col gap-5 justify-center items-center  ">

     <h1 class="text-3xl font-bold" >Welcome to the Task Management</h1>

   <div>
        <a class="px-3 py-2 bg-zinc-500 rounded-lg" href="/task/allTasks">Allocated tasks</a>    
        <a class="px-3 py-2 bg-zinc-500 rounded-lg" href="/user/listUsers">All Employees</a>    
        {{!-- <a class="px-3 py-2 bg-zinc-500 rounded-lg" href="/allTasks">D</a>     --}}
   </div>

</div>